<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Recomendation page for investor about USA stock market (by
	default)</title>

<style>
div123 {
	border-style: solid; /* Стиль линии вокруг параграфа */
	border-color: rgba(0, 0, 128, 0.7);
	border-width: 1px;
}

div {
	padding-bottom: 0px; /* Поля вокруг текста */
	padding-left: 0px;
}

.header-text {
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

.row-graphic-stock-data .image {
	padding-top: 5px;
	max-width: 960px;
}

.graphic-label {
	font-size: 150%;
	text-align: left;
}

.table-label {
	font-size: 110%;
	text-align: left;
	text-decoration: underline;	
	margin-bottom: 12px;
}

.table-recomendation {
	text-align: left;
	font-weight: bold;
	display:inline-block;
	width:100%;
	margin-bottom: 10px;
}

table tbody tr .indBuy {
	color: green;
}

table tbody tr .indSell {
	color: red;
}

.hr {
    border: none; /* Убираем границу */
    background-color: rgba(0, 0, 128, 0.45);; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
 }

.btn-light {
    background: white;
    color: black;
}
 
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open > .dropdown-toggle.btn-light {
    background: white;
}
 
.btn-light:active, .btn-light.active {
    background: white;
    box-shadow: none;
}

.verticalLine {
	border-width: 0 0 0 2px;
	border-style: solid; 
	padding: 10px;
	margin-left: 50px;
}

$container-max-widths: (
		  sm: 420px,
		  md: 720px,
		  lg: 960px
		);
		
</style>

<script type="text/javascript">
		  // sample function
          function sendPortRecomendationData() {        	  
            var ticker = stockForm.elements['ticker'].value;           
            var period = stockForm.elements['period'].value;
            var sma50 = techIndForm.elements['sma50'].value;
            var sma200 = techIndForm.elements['sma200'].value;
            var wma50 = techIndForm.elements['wma50'].value;
            var wma200 = techIndForm.elements['wma200'].value;
            var rsi = oscIndForm.elements['rsi'].value;
                                  
            //element = document.getElementById('img123');
			//alert(element.src);
            
            // Invoke the 'save' method of the Java object.
            window.RecomendationPageData.save(ticker, period, sma50, sma200, wma50, wma200, rsi);
          }
          
          function clickCalcAllInfForTickerBtn(ticker) {        	  
        	  recomendationPageData.loadGraphics(ticker);
          }
          
          function spyRSIDataClick() {
        	  // alert("hello spy rsi");
          }
          
          function spyVXXDataClick()  {
        	  // alert("hello spy vxx");
          }
          
          function clickCalcAllInfForUserTickerBtn() {
        	  var ticker = document.getElementById("inputUserTickerID").value;
        	  var period = document.getElementById("inputUserPeriodID").value;
        	  
        	  if (ticker == "")
        	  	alert("Не указан ticker");
        	  else
        	  	recomendationPageData.loadUserGraphics(ticker);
          }
</script>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="container" id="bootstrapContainer">
		<div class="row">
			<div class="col-12">
				<div class="header-text">
					<p>Различные индикаторы (moving averages,
						trend line, vxx и прочие) для оценки состояния американского
						фондового рынка (на примере базового актива SPY) и других активов
						на выбор пользователя</p>
				</div>
			</div>
		</div>

		<!-- first row start -->
		<!-- spy information -->
		<div class="row" id="spyRow">
			<div class="col">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 style="text-align: left; font-style: oblique;" id="#ticker#Header">Данные по
							активу SPY (SPDR S&P 500 ETF)</h4>
						<div>
							<button type="submit" class="btn btn-light" onclick="clickCalcAllInfForTickerBtn('#ticker#')" id="#ticker#Button">Рассчитать данные по SPY</button>
							<span class="verticalLine"></span>
							<button type="submit" class="btn btn-success">open all</button>
							<button type="submit" class="btn btn-warning">close all</button>
						</div>
					</div>

					<div class="panel-body">
						<!-- graphics panel -->
						<div class="panel-group panel" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion"
											href="#collapse1">Индикаторы типа Moving Averages</a>
									</h5>
								</div>
								<div id="collapse1" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="row-graphic-stock-data">
											<label class="graphic-label">Дневной график</label>
											<div id="#ticker#MADailyGraph">--> Здесь будет дневной график</div>
										</div>
										<div class="row-graphic-stock-data">
											<label class="graphic-label">Недельный график</label>
											<div id="#ticker#MAWeeklyGraph">--> Здесь будет недельный график</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion"
												href="#collapse2" onclick="spyRSIDataClick()">Индикаторы типа Relative Strength</a>
										</h5>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="row-graphic-stock-data">
												<label class="graphic-label">График с краткосрочными rsi</label>
												<!-- rsi(20), rsi(14), RSI(7) -->
												<div id="#ticker#RSIShortTermGraph">--> Здесь будет график с rsi(14)</div>
											</div>
											<div class="row-graphic-stock-data">
												<label class="graphic-label">График с средне- и долгосрочными rsi</label>
												<!-- rsi(200), rsi(100), RSI(50) -->
												<div id="#ticker#RSILongTermGraph">--> Здесь будет график с rsi(100)</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion"
												href="#collapse3" onclick="spyVXXDataClick()">График VXXB (iPath Series B S&P 500 VIX Short Term Futures ETN)</a>
										</h5>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="row-graphic-stock-data">
											<div id="#ticker#VolatalityGraph">--> Здесь будет график VXXB (iPath Series B S&P 500 VIX Short Term Futures ETN)</div>											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- graphics panel end -->

							<!-- indicators panel -->
							<div class="panel panel-info">
								<div class="panel-heading">
									<h5 style="text-align: left;" id="#ticker#DataHeader">Данные по активу SPY -
										индикаторы и осцилляторы в табличном виде</h5>
								</div>
								<div class="panel-body">
									<label class="table-label">Скользящие средние и линия тренда</label>
									<span class="table-recomendation" id="#ticker#PriceValue">Last Price (date): price</span>
									<table class="table table-hover">
										<thead>
											<tr>
												<th class="success">Период (daily/weekly)</th>
												<th class="success">Simple</th>
												<th class="success">Weighed</th>
												<th class="success">Last Price vs MA (or Trend line)</th>
												<th class="success">Last Price vs WMA (or Trend line)</th>
											</tr>
										</thead>
										<tbody id="#ticker#RecomIndicatorsTableBody">
											<tr>
												<td>MA 50 (daily)</td>
												<td>sma <br><span class="indBuy">покупать</span></td>
												<td>wma<br><span class="indSell">продавать</span></td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>											
											</tr>
											<tr>
												<td>MA 200 (daily)</td>
												<td>sma</td>
												<td>wma</td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>																							
											</tr>
											<tr>
												<td>Trend Line (daily)</td>
												<td>tl</td>
												<td>tl</td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>																							
											</tr>
											<tr>
												<td>MA 50 (weekly)</td>
												<td>sma</td>
												<td>wma</td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>																							
											</tr>
											<tr>
												<td>MA 200 (weekly)</td>
												<td>sma</td>
												<td>wma</td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>																							
											</tr>
											<tr>
												<td>Trend Line (weekly)</td>
												<td>tl</td>
												<td>tl</td>
												<td>last price vs ma</td>
												<td>last price vs wma</td>																							
											</tr>
										</tbody>
									</table>
									<div>
										<span id="#ticker#RecomIndicatorsCalc">Покупать: 12  Продавать: 0  </span> <br>
										<span class="table-recomendation" id="#ticker#IndicatorsFinalRecom">Рекомендация: <span style="color:green">покупать или держать</span></span>
									</div>
									<label class="table-label">Средне- и долгосрочные rsi</label>
									<table class="table table-hover">
										<thead>
											<tr>
												<th class="success">Период (daily)</th>
												<th class="success">Значение осциллятора RSI </th>
											</tr>
										</thead>
										<tbody id="#ticker#RsiOscillatorTableBody">
											<tr>
												<td>rsi (14)</td>
												<td>20 <br><span class="indBuy">перепродан</span></td>
											</tr>
											<tr>
												<td>rsi (100)</td>
												<td>75 <br><span class="indSell">перекуплен</span></td>
											</tr>
										</tbody>
									</table>
										<div>
											<span class="table-recomendation" id="#ticker#RSIIndicatorsFinalRecom">Рекомендация: <span style="color:green">покупать или держать</span></span>
										</div>
								</div>
							</div>
							<!-- indicators panel end -->

							<!-- recomendation panel -->
							<div class="panel panel-default">
								<!-- panel-succes or panel-danger -->
								<div class="panel-heading">
									<h5 style="text-align: left;">Рекомендации по активу SPY</h5>
								</div>
								<div class="panel-body">Покупать, продавать или держать в
									портфеле</div>
							</div>
							<!-- recomendation panel end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- first row end -->

		<hr class="hr" id="hrId">

		<!-- user ticker information begin -->
		<!-- ///////////////////////////////// -->
		<div class="row" id="userTickerRowId">
			<div class="col">
				<div class="row">
					<div class="col-8">
						<h4>Рассчитать стандартные индикаторы (по типу SPY) для
							актива, введенного пользователем</h4>
					</div>
					<div class="col-4">
						<button type="submit" class="btn btn-success">open all</button>
						<button type="submit" class="btn btn-warning">close all</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapse4">Перейти к форме расчета и данным /
										Скрыть данные</a>
								</h5>
							</div>
							<div id="collapse4" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="form-inline">
										<div class="form-group col">
											<button type="submit" class="btn btn-primary" onclick="clickCalcAllInfForUserTickerBtn()" id="userTickerButton">Пересчитать</button>
										</div>

										<div class="form-group col">
											<label for="inputTicker" style="padding-left: 7px; padding-right: 7px">Поле для ввода тикера:</label> <input
												type="text" class="form-control" id="inputUserTickerID"
												placeholder="inputUserTicker">
										</div>
										<div class="form-group col">
											<label for="inputPeriod" style="padding-left: 7px; padding-right: 7px">Период: Daily/Weekly</label> <select
												id="inputUserPeriodID" class="form-control">
												<option selected>Daily</option>
												<option selected>Weekly</option>
											</select>
										</div>
									</div>
									<div class="row-graphic-stock-data">
										<div class="panel-group">
											<div class="panel panel-default">
												<div class="panel-heading">Индикаторы типа Moving
													Averages</div>
												<div class="panel-body">
													<div class="row-graphic-stock-data">
														<label class="graphic-label">Дневной график</label>
														<div class="row-graphic-stock-data"
															id="userTickerMADailyGraph">Здесь будет график</div>
													</div>
													<div class="row-graphic-stock-data">
														<label class="graphic-label">Недельный график</label>
														<div class="row-graphic-stock-data"
															id="userTickerMAWeeklyGraph">Здесь будет график</div>
													</div>

												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">Индикаторы типа Relative
													Strength</div>
												<div class="panel-body">
													<div class="row-graphic-stock-data">
														<label class="graphic-label">Дневной график</label>
														<div class="row-graphic-stock-data"
															id="userTickerRSIShortTermGraph">Здесь будет график</div>
													</div>
													<div class="row-graphic-stock-data">
														<label class="graphic-label">Недельный график</label>
														<div class="row-graphic-stock-data"
															id="userTickerRSILongTermGraph">Здесь будет график</div>
													</div>
												</div>
												<div class="panel panel-info">
													<div class="panel-heading">
														<h5 style="text-align: left;" id="userTickerDataHeader">Данные
															по активу #SPY# - индикаторы и осцилляторы в табличном
															виде</h5>
													</div>
													<div class="panel-body">
														<span class="table-recomendation" id="userTickerPriceValue">Last
															Price (date): price</span>
														<table class="table table-hover">
															<thead>
																<tr>
																	<th class="success">Период (daily/weekly)</th>
																	<th class="success">Simple</th>
																	<th class="success">Weighed</th>
																	<th class="success">Last Price vs MA (or Trend line)</th>
																	<th class="success">Last Price vs WMA (or Trend line)</th>
																</tr>
															</thead>
															<tbody id="userTickerRecomIndicatorsTableBody">
																<tr>
																	<td>MA 50 (daily)</td>
																	<td>sma <br>
																	<span class="indBuy">покупать</span></td>
																	<td>wma<br>
																	<span class="indSell">продавать</span></td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
																<tr>
																	<td>MA 200 (daily)</td>
																	<td>sma</td>
																	<td>wma</td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
																<tr>
																	<td>Trend Line (daily)</td>
																	<td>tl</td>
																	<td>tl</td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
																<tr>
																	<td>MA 50 (weekly)</td>
																	<td>sma</td>
																	<td>wma</td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
																<tr>
																	<td>MA 200 (weekly)</td>
																	<td>sma</td>
																	<td>wma</td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
																<tr>
																	<td>Trend Line (weekly)</td>
																	<td>tl</td>
																	<td>tl</td>
																	<td>last price vs ma</td>
																	<td>last price vs wma</td>
																</tr>
															</tbody>
														</table>
														<div>
															<span id="userTickerRecomIndicatorsCalc">Покупать: 12 Продавать: 0 </span> <br> <span
																class="table-recomendation" id="userTickerIndicatorsFinalRecom">Рекомендация: 
															<spanstyle="color: green">покупать или держать</span></span>
														</div>
														<label class="table-label">Средне- и долгосрочные rsi</label>
														<table class="table table-hover">
															<thead>
																<tr>
																	<th class="success">Период (daily)</th>
																	<th class="success">Значение осциллятора RSI</th>
																</tr>
															</thead>
															<tbody id="userTickerRsiOscillatorTableBody">
																<tr>
																	<td>rsi (14)</td>
																	<td>20 <br>
																	<span class="indBuy">перепродан</span></td>
																</tr>
																<tr>
																	<td>rsi (100)</td>
																	<td>75 <br>
																	<span class="indSell">перекуплен</span></td>
																</tr>
															</tbody>
														</table>
														<div>
															<span class="table-recomendation"
																id="userTickerRSIIndicatorsFinalRecom">Рекомендация:
																<span style="color: green">покупать или держать</span>
															</span>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<!-- panel-succes or panel-danger -->
													<div class="panel-heading">
														<h5 style="text-align: left;">Рекомендации по активу #SPY#</h5>
													</div>
													<div class="panel-body">Покупать, продавать или
														держать в портфеле</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- user ticker information end -->

			<div class="footer-block">
				<hr>
				<p class="footer-text" style="text-align: center;">Designed by ME
					in Moscow</p>
			</div>
		</div>
	</div>

	<script id="documentJS">
		$(document).ready(function() {			
			$(".btn-primary").click(function() {
				$(".collapse").collapse('toggle');
			});
			$(".btn-success").click(function() {
				$(".collapse").collapse('show');
			});
			$(".btn-warning").click(function() {
				$(".collapse").collapse('hide');
			});
			
			if ( openMAPanel == true )
				$("#collapse1").collapse('show');
			
			if ( openRSIPanel == true )
				$("#collapse2").collapse('show');
			
			if ( openVolatalityPanel == true )
				$("#collapse3").collapse('show');
		});	
	</script>
</body>
</html>